<div class="email-content">
    <div class="email-content-header pure-g">
        <div class="pure-u-3-4">
            <h1 class="email-content-title"><div location="header.name"></div></h1>
            <div location="header.subinfo"></div>
        </div>

        <div class="email-content-controls pure-u-1-4">
            <div location="header.buttons"></div>
        </div>
    </div>

    <div class="email-content-body pure-g">

        <div class="pure-u-3-4">
            <div location="content.infos"></div>
        </div>

        <div class="email-content-controls pure-u-1-4">
            <div location="content.image"></div>
        </div>

    </div>
</div>