<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <button class="primary-button pure-button">Compose</button>
            <div location="sidebar.menu"></div>
            <div location="sidebar.search.textfield"></div>
            <div location="sidebar.search.button"></div>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">New Albums <span class="email-count">(2)</span></a></li>
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">FileHandler</a></li>
                     <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li>
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li>
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Configuration</a></li>-->
                    <li class="pure-menu-heading">Legende</li>
                    <li class="pure-menu-item"><a href="!#!artistlist" class="pure-menu-link"><span class="vgmdb-label-artist"></span>Artist</a></li>
                    <li class="pure-menu-item"><a href="!#!albumlist" class="pure-menu-link"><span class="vgmdb-label-album"></span>Album</a></li>
                    <li class="pure-menu-item"><a href="!#!orglist" class="pure-menu-link"><span class="vgmdb-label-organization"></span>Organization</a></li>
                    <li class="pure-menu-item"><a href="!#!productlist" class="pure-menu-link"><span class="vgmdb-label-product"></span>Product</a></li>
                    <li class="pure-menu-item"><a href="!#!eventlist" class="pure-menu-link"><span class="vgmdb-label-event"></span>Event</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="list" class="pure-u-1">
        <div location="search.result"></div>
    </div>
    <div id="main" class="pure-g" style="width: 100%;">
        <div class="pure-u-1" location="page"></div>
    </div>
</div>