<div class="email-item pure-g">
    <div class="pure-u">
        <div location="searchresult.image"></div>
      <!--    <img class="email-avatar" alt="Tilo Mitra&#x27;s avatar" height="64" width="64"src="img/common/tilo-avatar.png"> -->
    </div>

    <div class="pure-u-3-4">
        <h5 class="email-name"><div location="searchresult.subinfo"></div></h5>
        <h4 class="email-subject"><div location="searchresult.name"></div></h4>
        <div class="email-desc" location="searchresult.description"></div>
    </div>
</div>